body {
    color: rgb(0, 187, 187);
    background: rgb(35, 30, 68);
    margin: 0px;
    font-family: "Arvo", serif;
    margin-bottom: 25px;
}

header{
    border-bottom: solid 3px rgb(30, 220 , 220);
    padding: 20px;
    font-size: 34;
    color: rgb(30,220,220);
}

.chamada-principal {
    background: rgb(70,50,139);
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.chamada-braba-do-texto {
 margin-right: 4%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 15px;
}

img {
    height: 190px;
}

.categoria-videos-marvel {
    display: flex;
    overflow-x: auto;
    gap: 11px;
}

.categoria {
    padding-left: 20px ;
    padding-right: 20px ;
    margin-top: 20px;
    
}

.categoria-videos-marvel img {
    opacity: 0.65;
}

.categoria-videos-marvel img:hover {
    opacity: 1.0;
    border: 2px solid cyan
}

.categoria h2 {
   color: rgb (30, 220 , 220);
}